.maintop{
    width: 90%;
    margin: auto;

}
.topinfo{
    display: flex;
    width: 100%;
    margin: 30px auto;
    justify-content: space-between;
}
.leftinfo{
    font-size: 20px;
}
.btnviewall{
    border: none;
    border-radius: 0px;
    background-color: #db378c;
    color: white;
    font-size: 18px;
}
.fetcard{
    width: 238px;
    margin: auto 10px 40px 0px;
    display: inline-block;
}
.outrcard{
     height: 250px;
    background-image: url("./Images/plum.jpg");
    background-size: cover;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.outrcardone{
     height: 250px;
    background-image: url("./Images/carpenter.jpg");
    background-size: cover;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.outrcardtwo{
     height: 250px;
    background-image: url("./Images/elec.jpg");
    background-size: cover;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.outrcardthree{
     height: 250px;
    background-image: url("./Images/const.webp");
    background-size: cover;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.outerfloat{
    width: 100%;
}
.floatdiv{
    width: 30%;
    background-color: white;
    border-radius: 40px;
    
}
.marque{
    color: rgb(38, 38, 243);
    font-weight: 500;
}
.cardinfo{
    display: flex;
    justify-content: space-between;
    background-color: #ebeeef;
    padding: 7px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
}
.cardimg{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.desc{
    color: black;

}
.cardcont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pricee{
    background-color: #0089ff;
    border: 2px solid white;
    padding: 0px 15px;
    position: relative;
    top: -23px;
    color: white;
    border-radius: 40px;
    text-align: center;
    align-items: center;
    margin-top: 2px;
   

}